{% extends 'index.html' %}
{% load markdownify %}

{% block blockname %}

<header class="site-header">
    <div id="aiLoading" class="ai-loading" aria-label="در حال پاسخ‌گویی">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>

<section class="messages" id="messages">
    {% for message in messages %}
    <div class="message {{ message.role }}-message">
        {{ message.text|markdownify }}

        <span class="message-time">
            {{ message.created|date:"Y/m/d H:i" }}
        </span>
    </div>
    {% endfor %}
</section>

<form class="chat-form" id="chatForm" method="post" action="{% url 'chat' %}">
    {% csrf_token %}

    <textarea
        name="text"
        id="chatInput"
        class="chat-input"
        placeholder="پیام خود را بنویسید..."
        autocomplete="off"
        required
        rows="1"
    ></textarea>

    <button type="submit" id="sendButton" class="send-button">➤</button>
</form>

{% endblock blockname %}
