<!DOCTYPE html>
<html lang="fa" dir="rtl">
{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'styles/main.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;600;700;800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'styles/chat.css' %}">
  <title>چت‌بات هوشمند</title>

</head>

<body>

  <main class="chat-container">

    <header class="chat-header">
      <div class="bot-avatar">
        <img src="{% static 'images/logo.svg' %}" alt="دستیار هوش مصنوعی" class="ai-assistant" />
      </div>
    </header>

    {% block blockname %}

    {% endblock blockname %}

    <script src="{% static 'js/chat.js' %}"></script>

</body>

</html>